<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Información</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-card-title style="text-align: center"> {{detalleSerie.Title}}</ion-card-title>

            <ion-item>
                <ion-thumbnail>
                    <ion-img *ngIf="detalleSerie.Poster !='N/A'" [src]="detalleSerie.Poster"></ion-img>
                </ion-thumbnail>
                <p style="font-size: x-small"> Categoría : {{detalleSerie.Type}} • {{detalleSerie.Year}}</p>
            </ion-item>
            <ion-item *ngIf="detalleSerie.totalSeasons">
                <ion-label>Temporadas :
                    <ion-badge color="primary">{{detalleSerie.totalSeasons}}</ion-badge>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Idioma : {{detalleSerie.Language}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>País : {{detalleSerie.Country}}</ion-label>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button color="danger" small icon-end>
                        <ion-icon slot="start" name="star"></ion-icon>
                        {{detalleSerie.imdbRating}}
                    </ion-button>
                </ion-col>
                <ion-col>
                    <p style="font-size: small"> Lanzamiento : {{detalleSerie.Released}}</p>
                </ion-col>
                <ion-col>
                    <p style="font-size: small"> Duración : {{detalleSerie.Runtime}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p style="font-size: small"> Actores : {{detalleSerie.Actors}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>{{detalleSerie.Plot}} </p>
                </ion-col>

            </ion-row>

        </ion-card-content>
    </ion-card>
</ion-content>
